<%= simple_form_for(@article) do |f_form| %>
  <%= f_form.error_notification %>

  <div class="inputs">

    <%= f_form.input :title %>

    <%= f_form.input :content %>

  </div>

  <div class="actions">
    <%= f_form.button :submit %>
  </div>
<% end %>
