<h1><%= @article.title %></h1>

<%= simple_format @article.content %>

<% if @article.comments.count > 0 %>
<h2>Comments</h2>
	<%= render @article.comments %>
<% end %>

<h2>Add a comment:</h2>
	<%= render "comments/form" %>
<% if signed_in? && current_user.admin? %>
<%= link_to 'Edit', edit_article_path(@article) %> |
<% end %>
<%= link_to 'Back', root_path %>
