<div class="span3">
<img class="paperclip" <%= image_tag("paperclip.png", alt: "paperclip") %> </>
<div class="sidebar">
  <h3>Stuff I think</h3>
  <h4><%= Article.first.title %></h4>
  <h5><%= Article.first.created_at %></h5>
  <p><%= sanitize Article.first.content.split[0..5].join(" ") %>...<br>
  <a href="#">See More</a>
  </p>  
</div>




<img class="paperclip" <%= image_tag("paperclip.png", alt: "paperclip") %> </>
<div class="sidebar">
  <h3>Stuff I like.</h3>
  <h4>Links to peek at.</h4>
  <h5>Some of these are worth reading.</h5>
  <p>"Since I began my Rails journey, these sites, and many others, have proven invaluable."<br>
  <a href=http://rubyonrails.org>Rails</a><br>
  <a href=http://Railscasts.com>Railscasts</a><br>
  <a href=http://ruby.railstutorial.com>Rails Tutorial</a><br>
  <a href=http://github.com>Github</a><br>
  <a href=http://Railsinstaller.com>Rails Installer</a><br>
  <a href=http://vagrantup.com>Vagrant</a><br>
  </p>  
</div>
</div>