<!DOCTYPE html>
<html>
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title><%= full_title(yield(:title)) %></title>
   <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Hamco Internet Solutions" %>">
   <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
   <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
   <%= csrf_meta_tags %>
   <%= render 'layouts/shim' %>
   <%= yield(:head) %>
   <meta name="keywords" content="website keywords, website keywords" />
   <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
   <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine&amp;v1" />
   <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" />
  </head>
  <body>
    <%= render 'layouts/brand' %>
      <div class="container">
        <div class="row">
          <%= render 'layouts/navigation' %>
          <div class="col-md-7">
            <div id="site_content">
              <%= render 'layouts/messages' %>
              <%= yield %>
            </div>
          </div>
            <%= render 'layouts/sidebar' %>
        </div>
      </div>
      <%= render 'layouts/footer' %>
      <%= debug(assigns) if Rails.env.development? %>
      <%= render 'layouts/googleanalytics' if Rails.env.production? %>
   </body>
</html>